Version 1
[x] it should have a place to store todos
[] it should have a way to display todos
[] it should have a way to add a todos
[] it should have a way to edit a todo
[] it should have a way to remove a todo